<h1>Movies JSON</h1>

<form>
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  <input class="submit-movie" type="submit" value="Submit">
</form>

<table class="movie-table">
  <tr>
    <th>Name</th>
    <th>Release Date</th>
  </tr>

</table>

<!-- <table class="review-table">
  <tr>
    <th>Movie</th>
    <th>Review Title</th>
    <th>Reviewer</th>
    <th>Review Body</th>
    <th>Review Date</th>
  </tr>

</table> -->

<script>
  $(document).ready(function(){
    JS.MovieModule.getMovies();
    // JS.ReviewModule.getReviews();
  });
</script>
