<div class='new-movie'>
  <h3>Create a movie</h3>

  <%= form_tag('/movies', data: { ajaxremote: true }) %>

  <%= label_tag('movie[title]', 'Title') %>
  <%= text_field_tag('movie[title]') %>

  <br>
  <%= submit_tag('Create Movie') %>
</div>