<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Movies!!</h1>
    </div>
    
    
    <div class="col-sm-4 col-sm-offset-2">
      <table id="movies-table" class="table">
         <thead> 
          <tr id="header"> 
            <th> 
              Title
            </th>
            <th>
              Release Date
            </th>


          </tr>
        </thead>
        
        <tbody>
          

        </tbody>
      </table>
    </div>
  </div>
</div>