<h1>Movies</h1>

<h3>Create a movie</h3>
<%= render 'form' %>

<br>

<h3>All Movies</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody data-content="movies">

  </tbody>
</table>
