<h2>
  Create a Movie
</h2>
<%= form_for @movie, data: {ajaxremote: true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
<h2>All Movies</h2>
<table data-content="movies">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>