<header>
  <h1>Smelly Potatoes Movies</h1>
</header>

<body>
  <h3>All movies</h3>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Release Date</td>
      </tr>
    </thead>
  </table>
</body>
