
<div class="container">
  <h1 class="text-center">Smelly Potatoes Movies</h1>
  <div class="status">
  </div>

  <h3 class="text-center">Create a Movie</h3>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <form id="movie-form">
        <div class="form-group">
          <label for="title">Title</label>
          <input id="title" type="text" name="title" class="form-control">
        </div>
        <br>
        <div class="form-group">
          <input type="submit" value="Create Movie" class="btn btn-success" >
        </div>
      </form>
      <br>
      <h3>All Movies</h3>
      <table class="table">
        <thead>
          <th>Title</th>
          <th>Release Date</th>
        </thead>
        <tbody id="movie-list">
        </tbody>
      </table>
    </div>
  </div>
</div>
