<table id="movies-table">
  
  <tbody id="movie-body">
    <tr>  
      <th>Movies</th>
    </tr>


  </tbody>

  
</table>


<form id="movie-form">
  <input name="movie-name" id="movie-name" type="text">
  <button type="submit" id="movie-btn">Create</button>

</form>