<%= form_for Movie.new, data: { ajaxremote:true } do |f| %>
  <%= f.label(:title) %>
  <%= f.text_field(:title) %>
  <%= f.submit %>
<% end %>

<table id="movie-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>

  </tbody>


</table>

<table id="review-table">
  <thead>
    <tr>
      <th>Movie Reviewed</th>
      <th>Movie Reviewer</th>
      <th>Title</th>
      <th>Review Text</th>
      <th>Review Date</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
