<div id="<%= controller_name + "-" + action_name %>">


<h3>All Movies</h3>

<table class="table table-striped">
  <tr class="header">
    <th>Title</th>
    <th>Release Date</th> 
  </tr>

  <tbody class="table-body">

  <!-- new rows go here -->

  </tbody>


</table>



</div>