<h1>Smelly Potatoes Movies</h1>

<h3>Create A Movie</h3>
<%= form_for @movie, remote: true do |f| %>
  <%= f.label "Movie Title" %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

<h3>All Movies</h3>
<table class="table" id="movie-table">
  <tr>
    <th>
      Title
    </th>
    <th>
      Release Date
    </th>
  </tr>
</table>
