<h1>Smelly Potatoes Movies</h1>

<h2>Create a Movie</h2>

<%#= render partial: "movie_form", locals: { movie: Movie.new } %>
<%= render partial: "movie_form", locals: { movie: @movie } %>

<hr>

<h2>All Movies</h2>
<table>
  <thead>
    <th>
      Title
    </th>
    <th>
      Release Date
    </th>
  </thead>

  <tbody id='movie-list'>
    <%#= render @movies %>


  </tbody>
</table>
