<h4>Add a movie</h4>

<form id="movie-form">
  <strong><p>Name</p></strong>
  <input type="text" name="name">
  <!-- form line of text -->
  <strong><p>Release Date</p></strong>

  <!-- form selection -->
  <!-- submit button -->
  <input type="date" name="release_date">

  </select>
  <input type="submit" id="submit-button">
</form>


<h4>Movies</h4>
<table border="1" style="width:100%" id="my-movies">
  <tr>
    <th>Name</th>
    <th>Release Date</th>
  </tr>

</table>

<h4>Reviews</h4>
<table border="1" style="width:100%" id="my-reviews">
  <tr>
    <th>Reviewer Name</th>
    <th>Title</th>
    <th>Review Text</th>
  </tr>

</table>

<p id="error"></p>