<tr>
  <td id='reviewer-name'><%= review.reviewer %></td>
  <td id='reviewer-title'><%= review.title %></td>
  <td id='review-text'><%= review.title %></td>
  <td id='review-movie'><%= review.movie %></td>
</tr>


