$('#review-flash').html("<div class='alert alert-success'>");
$('#review-flash > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
$('#review-flash > .alert-success').append("<strong>Your review was created! </strong>");
$('#review-flash > .alert-success').append('</div>');

var $element =  $("<%= escape_javascript(render :partial => 'review', :locals => { :review => @review } ) %>").prependTo('#reviews-table').hide();

$element.fadeIn(1000);

console.log($('#review-form'));
$('#new_review').trigger('reset');
