$('#flash-delete').html("<div class='alert alert-success'>");
$('#flash-delete > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
$('#flash-delete > .alert-success')
.append("<strong>Your review was deleted! </strong>");
$('#flash-delete > .alert-success')
.append('</div>');

// $("#reviews-table")

