<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Smelly Potatoes Reviews</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Create a Review</h2>
    <div id='review-flash'></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>All Movies</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <table id = 'reviews-table' class="table table-hover">
      <thead>
        <th>Reviewer</th>
        <th>Title</th>
        <th>Review</th>
        <th>Movie</th>
        <th>Action</th>
      </thead>

      <%= render @reviews %>
    </table>

  </div>
</div>

<%= will_paginate @reviews %>