<h3>All Reviews</h3>



<table style="width:70%" >
    <tr>
      <th>Reviewer Name</th>
      <th>Title</th>
      <th>Text</th>
      <th>Review Date</th>
      <th>Movie</th>
    </tr>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.reviewer_name %></td>
      </tr>

      <tr>
        <td><%= review.title %></td>
      </tr>
    <% end %>
</table>
