<%= render "review_form" %>
<table class="table reviews">
  <tr class="review-header">
    <th>Movie Reviewed</th>
    <th>Reviewer</th>
    <th>Title</th>
    <th>Review Text</th>
    <th>Review Date</th>
    <th>Delete</th>
  </tr>

  <%= render @reviews %>

</table>