<h1>Smelly Potatoes Reviews</h1>

<%= render partial: 'form', locals: { review: @review } %>

<h3>All Reviews</h3>
<table class="table">
  <tr>
    <th>
      Movie
    </th>
    <th>
      Reviewer
    </th>
    <th>
      Review Title
    </th>
    <th>
      Review Text
    </th>
    <th>
      Date
    </th>
    <th>
      Delete
    </th>
  </tr>
  <tbody id="review-table">
    <% @reviews.each do |review| %>
      <%= render partial: 'row', locals: { review: review } %>
    <% end %>
  </tbody>
</table>
