<h2>Movies</h2>

<table>
  <thead>
    <th>Title</th>
    <th>Release Date</th>
  </thead>
  <tr>
    <td>Title 1</td>
    <td>Sept 1, 2015</td>
  </tr>
  <tr>
    <td>Title 2</td>
    <td>Sept 2, 2015</td>
  </tr>
  <tr>
    <td>Title 3</td>
    <td>Sept 3, 2015</td>
  </tr>
  <tr>
    <td>Title 4</td>
    <td>Sept 4, 2015</td>
  </tr>
</table>


<h2>Reviews</h2>

<table>
  <thead>
    <th>Reviewer</th>
    <th>Title</th>
    <th>Movie ID</th>
    <th>Review</th>
  </thead>
  <tr>
    <td>Name 1</td>
    <td>Title 1</td>
    <td>Movie ID 1</td>
    <td>Review 1</td>
  </tr>
  <tr>
    <td>Name 2</td>
    <td>Title 2</td>
    <td>Movie ID 2</td>
    <td>Review 2</td>
  </tr>
  <tr>
    <td>Name 3</td>
    <td>Title 3</td>
    <td>Movie ID 3</td>
    <td>Review 3</td>
  </tr>
  <tr>
    <td>Name 4</td>
    <td>Title 4</td>
    <td>Movie ID 4</td>
    <td>Review 4</td>
  </tr>
</table>